<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板继承</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="nav"><div>
    <div class="main">
        <div class="menu"></div>
        <div class="content center">
            {{ .title | safe }}
        </div>
    </div>

</body>
</html>
